# Extreme Temperature Events

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
file_list = os.listdir('../data/temp_events')

In [3]:
len(file_list)

596

In [4]:
temp_file_list = []

for file in file_list:
    if file[:9] == 'temp_wave':
        temp_file_list.append(file)

In [5]:
len(temp_file_list)

222

In [6]:
mon_file_list = []

for file in file_list:
    if file[:5] == 'month':
        mon_file_list.append(file)

In [7]:
len(mon_file_list)

373

In [8]:
test = pd.read_csv('../data/temp_events/' + temp_file_list[180]).drop(columns=['Unnamed: 0'])

test

,date,temp_max,temp_min,latitude,longitude,is_above_max_extreme,is_below_min_extreme,is_heat_wave,is_cold_wave
0,2021-02-21,-22.45165,-31.61204,50.0,60.0,False,True,False,True
1,2021-02-22,-7.08665,-32.61977,50.0,60.0,False,True,False,True
2,2021-02-25,-21.70254,-31.47707,50.0,60.0,False,True,False,True
3,2021-02-26,-17.15050,-30.80697,50.0,60.0,False,True,False,True
4,2021-03-13,-11.63486,-24.28841,50.0,60.0,False,True,False,True
5,2021-03-14,-10.95002,-25.04532,50.0,60.0,False,True,False,True
6,2021-04-01,0.40300,-11.17585,50.0,60.0,False,True,False,True
7,2021-04-02,2.72775,-9.38633,50.0,60.0,False,True,False,True
8,2022-09-01,34.90664,18.79586,50.0,60.0,True,False,True,False
9,2022-09-02,36.77734,21.30377,50.0,60.0,True,False,True,False
10,2022-09-03,35.11940,18.95266,50.0,60.0,True,False,True,False
11,2023-01-09,-26.10041,-34.95376,50.0,60.0,False,True,False,True
12,2023-01-10,-29.09708,-35.34308,50.0,60.0,False,True,False,True
13,2023-03-27,18.99990,0.00570,50.0,60.0,True,False,True,False
14,2023-03-28,19.69106,1.41110,50.0,60.0,True,False,True,False
15,2023-08-29,14.94125,7.35458,50.0,60.0,False,True,False,True
16,2023-08-30,16.24542,7.40580,50.0,60.0,False,True,False,True
17,2023-12-11,-23.22169,-31.20292,50.0,60.0,False,True,False,True
18,2023-12-12,-26.62174,-31.30636,50.0,60.0,False,True,False,True

In [9]:
data= test

In [10]:
for file in temp_file_list:
    df = pd.read_csv('../data/temp_events/' + file).drop(columns=['Unnamed: 0'])
    if len(df) > 0:
        data = pd.concat([data, df],ignore_index=True)

In [11]:
heat_waves = data[data['is_heat_wave']][['date', 'temp_max', 'temp_min', 'latitude', 'longitude', 'is_heat_wave']]

In [12]:
heat_waves.sort_values(by='date')

            date  temp_max  temp_min  latitude  longitude  is_heat_wave
2474  2020-01-04  34.72660  19.35720     -20.0       30.0          True
2475  2020-01-05  35.32192  20.07010     -20.0       30.0          True
2476  2020-01-06  35.53590  21.57280     -20.0       30.0          True
825   2020-01-06  22.20132  10.06536      30.0      120.0          True
826   2020-01-07  22.82570   3.84054      30.0      120.0          True
...          ...       ...       ...       ...        ...           ...
638   2025-06-11 -31.27434 -39.13580     -88.0     -179.9          True
1751  2025-06-26  12.23425   1.75363      70.0      -70.0          True
1752  2025-06-27  14.48410   6.35670      70.0      -70.0          True
1753  2025-06-28  11.77730   6.36486      70.0      -70.0          True
1754  2025-06-29  10.45455   6.81777      70.0      -70.0          True

[1084 rows x 6 columns]

In [13]:
data.to_csv('../data/extreme_temp/extreme_temp_2020_2025.csv')

In [14]:
lat_long = data[['latitude', 'longitude']]

In [15]:
coordinates = lat_long.drop_duplicates(ignore_index=True).apply(np.round)

In [16]:
coordinates.to_csv('../data/extreme_temp/unique_coordinates.csv')

In [17]:
data['month'] = data.apply(lambda row: datetime.date(datetime.fromisoformat(row['date'])).month, axis=1)

In [18]:
data

,date,temp_max,temp_min,latitude,longitude,is_above_max_extreme,is_below_min_extreme,is_heat_wave,is_cold_wave,month
0,2021-02-21,-22.45165,-31.61204,50.0,60.0,False,True,False,True,2
1,2021-02-22,-7.08665,-32.61977,50.0,60.0,False,True,False,True,2
2,2021-02-25,-21.70254,-31.47707,50.0,60.0,False,True,False,True,2
3,2021-02-26,-17.15050,-30.80697,50.0,60.0,False,True,False,True,2
4,2021-03-13,-11.63486,-24.28841,50.0,60.0,False,True,False,True,3
...,...,...,...,...,...,...,...,...,...,...
2480,2022-04-30,24.60113,8.67733,-20.0,30.0,False,True,False,True,4
2481,2022-12-01,23.88186,10.91958,-20.0,30.0,False,True,False,True,12
2482,2022-12-02,27.61004,12.09255,-20.0,30.0,False,True,False,True,12
2483,2024-03-05,34.28573,18.25308,-20.0,30.0,True,False,True,False,3
2484,2024-03-06,35.37838,20.87298,-20.0,30.0,True,False,True,False,3

In [19]:
data['lat_int'] = data.apply(lambda row: int(np.round(row['latitude'])), axis=1)

In [20]:
data['long_int'] = data.apply(lambda row: int(np.round(row['longitude'])), axis=1)

In [21]:
data

,date,temp_max,temp_min,latitude,longitude,is_above_max_extreme,is_below_min_extreme,is_heat_wave,is_cold_wave,month,lat_int,long_int
0,2021-02-21,-22.45165,-31.61204,50.0,60.0,False,True,False,True,2,50,60
1,2021-02-22,-7.08665,-32.61977,50.0,60.0,False,True,False,True,2,50,60
2,2021-02-25,-21.70254,-31.47707,50.0,60.0,False,True,False,True,2,50,60
3,2021-02-26,-17.15050,-30.80697,50.0,60.0,False,True,False,True,2,50,60
4,2021-03-13,-11.63486,-24.28841,50.0,60.0,False,True,False,True,3,50,60
...,...,...,...,...,...,...,...,...,...,...,...,...
2480,2022-04-30,24.60113,8.67733,-20.0,30.0,False,True,False,True,4,-20,30
2481,2022-12-01,23.88186,10.91958,-20.0,30.0,False,True,False,True,12,-20,30
2482,2022-12-02,27.61004,12.09255,-20.0,30.0,False,True,False,True,12,-20,30
2483,2024-03-05,34.28573,18.25308,-20.0,30.0,True,False,True,False,3,-20,30
2484,2024-03-06,35.37838,20.87298,-20.0,30.0,True,False,True,False,3,-20,30

In [22]:
data.to_csv('../data/extreme_temp/extreme_temp_2020_2025.csv')

In [24]:
def extreme_temperature(month, file_name):
    mon_sum = pd.read_csv('../data/temp_events/' + file_name).drop(columns='Unnamed: 0').set_index('month')

    return mon_sum.loc[month, 'max_extreme'], mon_sum.loc[month, 'min_extreme']

In [ ]:
extreme_temperature(12, 70, 79)

In [ ]:
data.head()

In [ ]:
data.loc[1723,'date']

In [ ]:
data['latitude'].value_counts()

In [25]:
df = pd.DataFrame(columns = ['extreme_max', 'extreme_min'])

for i in data.index:
    month = datetime.date(datetime.fromisoformat(data.loc[i,'date'])).month
    lat = int(data.loc[i,'latitude'])
    long = int(data.loc[i,'longitude'])
    
    if f"monthly_summary_lat={lat}_long={long}.csv" in file_list:
        extreme_max, extreme_min = extreme_temperature(month, f"monthly_summary_lat={lat}_long={long}.csv")
    elif f"monthly_summary_lat={lat-1}_long={long}.csv" in file_list:
        extreme_max, extreme_min = extreme_temperature(month, f"monthly_summary_lat={lat}_long={long}.csv")
    elif f"monthly_summary_lat={lat}_long={long-1}.csv" in file_list:
        extreme_max, extreme_min = extreme_temperature(month, f"monthly_summary_lat={lat}_long={long}.csv")
    elif f"monthly_summary_lat={lat-1}_long={long-1}.csv" in file_list:
        extreme_max, extreme_min = extreme_temperature(month, f"monthly_summary_lat={lat}_long={long}.csv")
    else:
        print(f"Can't find the monthly summary file for lat={lat} and long={long}")
        

        
    df.loc[i,'extreme_max'] = extreme_max
    df.loc[i,'extreme_min'] = extreme_min